@font-face {
  font-family: "berkshireRegular";
  src: url("/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf");
  src: local("robotoBlack"),
    url("/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-app {
  margin-top: 90px;
  background: url("../assets/images/background.jpeg") repeat;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-app-overlay {
  background: #155457f0;
  overflow: hidden;
}

.menuImage {
  max-width: 87.5% !important;
  min-width: 87.5% !important;
  min-height: 87.5% !important;
  max-height: 87.5% !important;
  margin: auto;
  animation: peakUp 0.5s ease both;
  animation-delay: 0.5s;
}

.menuImageContainer {
  overflow: hidden;
}

.navbar-container {
  background-color: #1554576e;
  backdrop-filter: blur(8px) brightness(0.8);
  width: 100vw;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar {
  margin: auto;
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.menu-icon {
  display: none;
  width: 0%;
}

.menu-icon div {
  width: 30px;
  background-color: rgb(210, 210, 210);
  height: 4px;
  border-radius: 25px;
}

.menu-links span {
  padding: 0 10px;
  white-space: nowrap;
  font-size: 18px;
  transition: all 0.2s ease;
  font-family: berkshireRegular;
  cursor: pointer;
  user-select: none;
  scroll-margin-top: 80px;
}

.menu-links span:hover {
  color: #c3b45d;
  transition: all 0.2s ease;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .menu-opened {
    overflow: hidden;
    height: 100vh;
  }

  .navbar-container {
    padding: 5px 5px;
    z-index: 101;
  }

  .navbar {
    width: 100%;
  }

  .navbar-logo.opened {
    margin-left: 60px !important;
    transition: all 0.25s ease;
  }

  .main-app {
    margin-top: 70px;
  }

  .menuImage {
    max-width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
  }

  .navbar-logo {
    transform: scale(0.75);
    transition: all 0.25s ease;
  }

  .menu-links {
    position: absolute;
    background-color: #b18f44;
    height: calc(100vh - 72.5px);
    width: 100vw !important;
    right: 0;
    top: 72.5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transition: all 0.35s ease;
    padding: 60px 0;
  }

  .menu-links span {
    padding: 15px 0 12.5px 80px;
    font-size: 27px;
    color: #155457;
    font-family: berkshireRegular;
    animation: peakUp 0.5s ease both;
  }

  .menu-links.close {
    width: 0px !important;
  }

  .menu-links.close span {
    animation: fadeOut 0.25s ease both;
  }

  .menu-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 27px;
    width: 30px;
    cursor: pointer;
    right: 16px;
    z-index: 100;
  }

  .menu-icon.opened .line1 {
    transform: rotate(45deg) scale(1.125);
    transform-origin: top left;
    transition: all 0.35s ease;
  }

  .menu-icon.opened .line2 {
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.2s ease;
  }

  .menu-icon.opened .line3 {
    transform: rotate(-45deg) scale(1.125);
    transform-origin: bottom left;
    transition: all 0.25s ease;
  }

  .menu-icon.closed .line1 {
    transform: rotate(0deg);
    transform-origin: top left;
    transition: all 0.25s ease;
  }

  .menu-icon.closed .line2 {
    transform: scaleX(1);
    transform-origin: center;
    transition: all 0.2s ease;
  }

  .menu-icon.closed .line3 {
    transform: rotate(0deg);
    transition: all 0.25s ease;
    transform-origin: bottom left;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #155457;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes peakUp {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
